html {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;    
}

:root {
    --cell-min-wh: calc(300px / 3);
    --cell-max-wh: calc(500px / 3);
    --radio-button-color: rgb(62, 102, 117);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.info-container {
    color: white;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 90, 28, 0.5);
}

.info-container > *{
    font-size: 2rem;
}

.info-container > input {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    background-color:rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 5px solid white;
}

.info-container > input:focus {
    outline: none;
}

.info-container > button {
    border-radius: 10px;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.info-container > fieldset {
    font-size: 1.6rem;
    padding: 0 9rem 0 1rem;
}

.info-container > fieldset > ul {
    list-style: none;
    padding: 0;
}

div.list-item {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.difficulty-option {
    line-height: 1.5;
}

div.list-item > input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: black;
    width: 0.8em;
    height: 0.8em;
    border: 0.1em solid white;
    border-radius: 50%;
    align-self: center;
    display: grid;
    place-content: center;
}

div.list-item > input[type="radio"]::before {
    content: "";
    width: 0.55em;
    height: 0.55em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--radio-button-color);
  }
  
div.list-item > input[type="radio"]:checked::before {
    transform: scale(1);
  }

div.list-item > input[type="radio"]:hover, label {
    cursor: pointer;
}

.gameboard-container {
    filter: blur(9px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    background-color: black;

}

.gameboard-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(var(--cell-min-wh), var(--cell-max-wh)));
    grid-template-rows: repeat(3, minmax(var(--cell-min-wh), var(--cell-max-wh)));
    gap: 7px;
}

.grid-item {   
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

button.grid-button {
    font-family: 'RedkostComicRegular', sans-serif;
    flex: 1;
    font-size: 8rem;
    background-color: rgb(247, 241, 233);
    cursor: pointer;
}

button.grid-button:disabled {
    color: black;
    cursor: default;
}

.grid-item > p.sub {
    position: absolute;
    bottom: 110px;
    font-size: 1.5rem;
}

#reset-button {
    visibility: hidden;
    margin-top: 4rem;
    font-size: 2rem;
    font-family: inherit;
}